NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx...
CLERK_SECRET_KEY=sk_test_WXXX...

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mysql://3y7ha...'

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dnf..."

PINECONE_INDEX="character"
PINECONE_ENVIRONMENT="gc....."
PINECONE_API_KEY="dcce......"

UPSTASH_REDIS_REST_URL="https://......"
UPSTASH_REDIS_REST_TOKEN="XXXX.........."

OPENAI_API_KEY=sk-xXXXXX.....

REPLICATE_API_TOKEN=r8_XXXX..........

STRIPE_API_KEY=sk_test_XXXXXXXx
STRIPE_WEBHOOK_SECRET=whsec_XXXXXXXXXXXXx

NEXT_PUBLIC_APP_URL=http://localhost:3000